.card__list {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  width: 100%;
}

.card__list_position_center {
  justify-content: center;
}

@media screen and (max-width: 765px) {
  .card__list {
    justify-content: center;
  }
}
