.favorites {
  font: inherit;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.favorites__header {
  display: flex;
  gap: 20px;
  height: 56px;
  align-items: center;
}
.favorites__text {
  margin: 0;
}

.favorites__list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  width: 100%;
}

@media screen and (max-width: 765px) {
  .favorites__header {
    justify-content: space-between;
  }

  .favorites__list {
    grid-template-columns: repeat(auto-fit, 164px);
    grid-gap: 15px 15px;
    justify-content: center;
  }
}
