.favorites {
  font: inherit;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.favorites__header {
  display: flex;
  gap: 20px;
  height: 56px;
  align-items: center;
}
.favorites__text {
  margin: 0;
}

@media screen and (max-width: 765px) {
  .favorites__header {
    justify-content: space-between;
  }
}
