.card {
  overflow: hidden;
  background-color: #fff;
  position: relative;
  border: 1px rgba(0, 0, 0, 0.3) solid;
  border-radius: 5%;
  box-sizing: border-box;
  object-fit: contain;
  min-height: 324px;
}

.card__title {
  padding: 4px 12px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__image {
  object-fit: cover;
  width: 100%;
  display: block;
  transition: opacity 0.5s;
  opacity: 0;
}

.card__image_loaded {
  opacity: 1;
}

.card__like {
  cursor: pointer;
  transition: opacity 0.5s;
  border: none;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background: center no-repeat;
  object-fit: cover;
  padding: 0;
}

.card__like_active {
  background-image: url("../../assets/like_active.svg");
}

.card__like_inactive {
  background-image: url("../../assets/like_inactive.svg");
}

.card__like:hover {
  opacity: 0.5;
}
